/* Blog Banner CSS*/

.blog_banner {
  width: 100%;
  height: 800px;
  background-image: url(../images/Image\ \(8\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold_heading_blog {
  color: var(--white);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: bolder;
  line-height: 70.5px;
  text-align: center;
}

.blog_get_started_btn {
  display: flex;
  justify-content: center;
}

/* Blog Content CSS  */

.blog_box {
  margin-top: 125px;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.blog_wrapper {
  width: 67vw;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.blog_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 408px;
  height: 528px;
  border-radius: 28px;
  border: 2px solid #6a6a6a;
}

.blog_container:hover {
  border: 2px solid var(--purple);
}

.blog_img {
  overflow: hidden;
}

.blog_img img {
  border-radius: 28px 28px 0 0;
  width: 366px;
  height: 331px;
  transition: 2s all ease-in-out;
}

.blog_container:hover .blog_img img {
  transform: scale(1.5);
}
.blog_heading {
  width: 366px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.blog_btn_box {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.blog_btn {
  font-size: 24px;
  text-align: end;
  display: flex;
  width: 25px;
  height: 25px;
  padding: 13.001px 13.001px 12.999px 12.999px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--primary-color-1, #c9442d);
}

.blog_container:hover .blog_btn {
  transform: rotate(-45deg);
  background: var(--purple);
  transition: 1s;
}

/*  Blog Description CSS */

.blog_description_wrapper {
  margin-top: 85px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_description_wrapper p,
ul li {
  color: var(--textGrey);
  line-height: 28px;
}

.blog_description_wrapper h4 {
  font-size: 30px;
  font-weight: 500;
}

.blog_description_wrapper ul {
  padding: 0;
}

.blog_description_container {
  width: 83vw;
}

.blog_back_btn {
  border: none;
  background: transparent;
  color: var(--orange);
  font-size: 26px;
  margin-bottom: 30px;
}

.blog_desp_img {
  width: 83vw;
}

.blog_desp_heading {
  font-size: 40px;
  text-align: left;
}

.blog_bullets {
  list-style: disc;
}

/* Blog Comment CSS */

.blog_comment_container {
  width: 83vw;
  display: flex;
  flex-direction: column;
}

.blog_comment_box input {
  border-radius: 18px;
  padding: 20px 419px 20px 30px;
  border: 1px solid #717171;
  background: var(--black);
}

/* blog Carousel Css */

.images-container_desp {
  display: flex;
  max-width: 65vw;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.latest_container_desp {
  padding: 22px 22px 20px 22px;
  border-radius: 28px;
  border: 1px solid #6a6a6a;
  height: 350px;
  margin-left: 25px;
}

.text_desp {
  font-size: 18px;
  width: 321px;
  line-height: 28px;
  font-weight: 400;
  margin: 22px 0;
}

.nav-btn_desp {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  background-color: var(--purple);
  border-radius: 50%;
  height: 46px;
  width: 46px;
  margin: 5px;
  color: var(--white);
  font-size: 22px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_btn_left_desp {
  position: absolute;
  left: 10.5%;
  z-index: 9;
  transition: opacity 0.5s ease;
  opacity: 1;
}
.nav_btn_right_desp {
  position: absolute;
  right: 10.5%;
  z-index: 9;
}

.scroll-animate {
  transform: translateY(80px);
  transition: transform 3s ease, opacity 0.5s ease;
}

.scroll-animate.animate {
  transform: translateY(0px);
  opacity: 1;
}
