/* Blog Banner CSS*/

.blog_banner {
  width: 100%;
  height: 50rem;
  background-image: url(../images/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold_heading_blog {
  color: var(--white);
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 4.406rem;
  text-align: center;
  text-transform: capitalize;
}

.blog_get_started_btn {
  display: flex;
  justify-content: center;
}

/* Blog Content CSS  */

.blog_box {
  margin-top: 7.813rem;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 1.563rem;
}

.blog_wrapper {
  max-width: 100%;
  width: 67vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1.563rem;
  justify-content: center;
}

.blog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25.5rem;
  height: 33rem;
  border-radius: 1.75rem;
  border: 2px solid #6a6a6a;
}

.blog_container:hover {
  border: 2px solid var(--purple);
}

.blog_img {
  overflow: hidden;
  border-radius: 1.8rem;
}

.blog_img img {
  border-radius: 1.75rem 1.75rem 0 0;
  width: 22.875rem;
  height: 20.688rem;
  transition: 2s all ease-in-out;
  padding: 1.375rem;
}

.blog_container:hover .blog_img img {
  transform: scale(1.5);
}
.blog_heading {
  width: 23.188rem;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 600;
}

.blog_btn_box {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.blog_btn {
  font-size: 1.5rem;
  text-align: end;
  display: flex;
  width: 1.563rem;
  height: 1.563rem;
  padding: 0.813rem 0.813rem 0.812rem 0.812rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: var(--primary-color-1, #c9442d);
}

.back {
  position: absolute;
  font-size: 1.375rem;
  left: 11rem;
  opacity: 0;
  transition: 1s;
}

.blog_back_btn:hover .back {
  opacity: 1;
  left: 13rem;
  transition: 1s;
}

.blog_container:hover .blog_btn {
  transform: rotate(-45deg);
  background: var(--purple);
  transition: 1s;
}

/*  Blog Description CSS */

.blog_description_wrapper {
  margin-top: 5.313rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_description_wrapper p,
ul li {
  color: var(--textGrey);
  line-height: 1.75rem;
}

.blog_description_wrapper h4 {
  font-size: 1.875rem;
  font-weight: 500;
}

.blog_description_wrapper ul {
  padding: 0;
}

.blog_description_container {
  width: 83vw;
}

.blog_back_btn {
  border: none;
  background: transparent;
  color: var(--orange);
  font-size: 1.625rem;
  margin-bottom: 1.875rem;
}

.blog_desp_img {
  width: 83vw;
}

.blog_desp_heading {
  font-size: 2.5rem;
  text-align: left;
}

.blog_bullets {
  list-style: disc;
  margin-left: 2rem;
}

/* Blog Comment CSS */

.blog_comment_container {
  width: 83vw;
  display: flex;
  flex-direction: column;
}

.blog_comment_box input {
  border-radius: 1.125rem;
  padding: 1.25rem 26.188rem 1.25rem 1.875rem;
  border: 1px solid #717171;
  background: var(--black);
}

.blog_form_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}

.full_name,
.email {
  border-radius: 1.125rem;
  border: 1px solid #717171;
  height: 3.125rem;
  background: #111927;
  padding: 0.8rem;
  color: #fff;
  font-size: 1rem;
}

.text_area {
  grid-column: span 2;
  background: #111927;
  border-radius: 1.125rem;
  padding: 0.7rem;
  color: #fff;
}

.full_name:hover,
.email:hover {
  border: 1px solid #893e97;
}

/* blog Carousel Css */

.carousel_h1 {
  margin-top: 7.438rem;
  margin-bottom: 6.25rem;
  text-align: center;
  text-transform: capitalize;
}

.blog_carousel_wrapper {
  margin-top: 110rem;
}

.images-container_desp {
  display: flex;
  max-width: 65vw;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.latest_container_desp {
  padding: 1.375rem 1.375rem 1.25rem 1.375rem;
  border-radius: 1.75rem;
  border: 1px solid #6a6a6a;
  height: 21.875rem;
  margin-left: 1.563rem;
  width: 25.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 23.313rem;
  background: #1c2330;
}

.latest_container_desp .image {
  width: 22.875rem;
}

.text_desp {
  font-size: 1.125rem;
  width: 100%;
  max-width: 20.063rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 1.375rem 0;
  color: var(--white);
}

.nav-btn_desp {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  background-color: var(--purple);
  border-radius: 50%;
  height: 2.875rem;
  width: 2.875rem;
  margin: 5px;
  color: var(--white);
  font-size: 1.375rem;
  margin-top: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_btn_left_desp {
  position: absolute;
  left: 9%;
  z-index: 9;
  transition: opacity 0.5s ease;
  opacity: 1;
}
.nav_btn_right_desp {
  position: absolute;
  right: 9%;
  z-index: 9;
}

.blog_arrow {
  font-size: 2.813rem;
}

.scroll-animate {
  transform: translateY(5rem);
  transition: transform 3s ease, opacity 0.5s ease;
}

.scroll-animate.animate {
  transform: translateY(0px);
  opacity: 1;
}

@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-18.75rem);
  }
}

.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(2% + -5px) !important;
}

.react-multiple-carousel__arrow {
  background: var(--purple) !important;
  max-width: 2.875rem !important;
  max-width: 2.875rem !important;
}

@media screen and (max-width: 500px) {
  .blog_banner {
    height: 37.5rem;
  }

  .blog_banner .home_content {
    margin-top: 0;
  }

  .header_links {
    display: none;
  }

  .bold_heading_blog {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .bold_heading {
    line-height: 2rem;
  }

  .front_content {
    width: auto;
  }

  .blog_container {
    width: 18.75rem;
    height: 24.625rem;
    gap: 1rem;
  }

  .blog_img img {
    width: 16rem;
    padding: 1.375rem;
  }

  .blog_heading {
    font-size: 0.875rem;
    line-height: 1.313rem;
    width: 16rem;
  }

  .blog_btn {
    padding: 0.5rem;
    transform: translateY(-1.375rem) rotateZ(-46deg);
  }

  .latest_container_desp {
    width: 13.313rem !important;
    height: 14.313rem;
  }
  .latest_container_desp .image {
    width: 10.813rem;
  }

  .text_desp {
    width: 10.813rem;
    line-height: 1.125rem;
    font-size: 0.8rem;
  }

  .blog_description_wrapper ul {
    gap: 9rem;
  }

  .react-multiple-carousel__arrow--left {
    display: none;
  }

  .react-multiple-carousel__arrow--right {
    display: none;
  }

  .blog_container:hover .blog_img img {
    transform: none;
  }

  .blog_form_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8rem;
  }

  .full_name,
  .email {
    padding: 0.4rem;
    height: auto;
    border-radius: 0.5rem;
  }

  .text_area {
    grid-column: span 1;
    padding: 0.6rem;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 1440px) {
  .blog_wrapper {
    width: auto;
    max-width: 90vw;
    justify-content: center;
  }

  .blog_banner .sub_heading_home {
    text-align: center;
  }

  .latest_container_desp {
    width: 18.75rem;
    margin-right: 1.7rem;
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  .latest_container_desp .image {
    width: -webkit-fill-available;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(2% + -0.75rem) !important;
  }

  .full_name,
  .email {
    border-radius: 0.5rem;
  }

  .text_area {
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .person_name,
  .person_detail {
    flex-direction: column;
    gap: 0 !important;
  }

  .person_text textarea {
    width: auto !important;
    padding-right: 26rem !important;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(2% + 0.625rem) !important;
  }
}

@media screen and (max-width: 768px) {
  .person_info_box {
    width: auto;
  }

  .person_name,
  .person_detail {
    flex-direction: column;
    gap: 0;
  }

  .person_name input,
  .person_detail input {
    width: 28rem !important;
    padding: 1.25rem !important;
  }

  .person_text textarea {
    width: 25rem !important;
    padding: 1rem 3.99rem 4rem 1rem !important;
  }

  .bold_heading {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  .latest_container_desp {
    width: 15rem !important;
    height: auto;
  }

  .react-multi-carousel-list {
    width: 85vw !important;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(2% + -0.625rem) !important;
  }
}
