.blog_box {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.blog_wrapper {
  width: 67vw;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.blog_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px;
  height: 528px;
  border-radius: 28px;
  border: 1px solid #6a6a6a;
}

.blog_container img {
  width: 366px;
  height: 331px;
}
