.about_banner {
  width: 100%;
  height: 50rem;
  background-image: url(../images/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_backdrop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align_center {
  text-align: center;
}

.banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_banner_h1 {
  color: var(--white);
  text-align: center;
  font-family: Inter;
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 4.406rem;
  width: 75%;
}

.supporting_about_banner_text {
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
  color: var(--lightGrey);
}

.about_detail_body {
  background-color: var(--lightBlack);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.125rem 1.438rem 6.125rem 1.438rem;
  gap: 1rem;
  align-self: stretch;
  color: var(--white);
  border: 1px solid #374151;
  border-radius: 0.5rem;
  position: relative;
  bottom: 5.938rem;
  transform: translateY(0);
  transition: 3s;
}

.about_detail_heading {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--white);
}

.about_detail_desp {
  text-align: center;
  font-weight: 400;
  line-height: 1.5rem;
  width: 18.75rem;
  color: var(--lightGrey);
  font-size: 1.25rem;
}

.about_detail_body:hover {
  transition: 3s;
  transform: translateY(-3.75rem);
  border-radius: 0.5rem;
  border: 1px solid var(--Primary-color-2, #893e97);
  background: #1d2833;
  box-shadow: 0 0 1.563rem 0 rgba(137, 62, 151, 0.2);
}

.about_detail_body:hover .about_detail_desp {
  color: #893e97;
}

.about_detail_body:hover .about_detail_heading {
  color: #893e97;
}

/* chooseUs CSS */

.about_choose_box {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.938rem;
  margin: 5rem 0;
}

.box {
  width: 18.75rem;
  height: 18.75rem;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 0.625rem;
  overflow: hidden;
}

.thumbnail > img {
  transition: all 0.3s ease;
}

.thumbnail div {
  position: absolute;
  background: rgba(1, 1, 1, 0.8);
  color: #fff;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  line-height: 18.75rem;
  text-align: center;
  font-size: 1.875rem;
  z-index: 2;
}

.thumbnail:hover > img {
  transform: scale(1.3);
}

.thumbnail:hover > div {
  opacity: 1;
}

.about_choose_container {
  width: 22.5rem;
  border: 2px solid var(--darkGrey);
  border-radius: 1.75rem;
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 1.875rem;
}

.about_choose_container:hover {
  border: 2px solid var(--Primary-color-2, #893e97);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15),
    0px 0px 12.5rem 0px rgba(137, 62, 151, 0.15) inset;
}

.about_choose_container:hover .choose_icon {
  border: 1px solid rgba(137, 62, 151, 0.8);
  background: rgba(137, 62, 151, 0.4);
}

.about_choose_icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.choose_icon {
  font-size: 1.5rem;
  background: var(--purple);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
}

.about_choose_desp {
  width: 21.375rem;
  line-height: 1.5rem;
  word-spacing: 5px;
}

.about_choose_desp p {
  color: #9ca3af;
}

.about_questions_box {
  height: 20.125rem;
  margin-top: 12.438rem;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  width: 70vw;
}

.about_questions_container p {
  color: #d1d5db;
  width: 100%;
  max-width: 38.375rem;
}

.about_questions_container h1 {
  width: 100%;
  max-width: 38.375rem;
  text-align: start;
  margin: 0;
  margin-bottom: 1.25rem;
}

.about_accordion {
  height: 18.75rem;
  overflow-y: scroll;
}

.about_title {
  padding: 0.625rem 0.625rem;
  width: 31.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
}

.slide_title {
  transform: translateY(-0.625rem);
  transition: transform 2s ease-in-out;
}

.slide_content {
  transform: translateY(-2.188rem);
  transition: transform 2s ease-in-out;
}
.about_title.with-border {
  border-bottom: 1px solid #414752;
}

.arrow {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.arrow.down {
  transform: rotate(0deg);
}

.arrow.up {
  transform: rotate(180deg);
}

.about_content {
  width: 31.5rem;
  line-height: 1.75rem;
  padding: 0.625rem 0.625rem;
  border-bottom: 1px solid #414752;
}

.text_container {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  gap: 1.563rem;
  margin-top: 5rem;
}

.container {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: 2s ease-in;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.container_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team_image {
  display: block;
  width: 100%;
  height: auto;
}

.team_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #0c0a0a;
  transition: 1s ease;
}

.container:hover .team_overlay {
  opacity: 90%;
}

.container:hover img {
  transform: scale(1.3);
  transition: 1s ease-in;
}

.team_text {
  color: white;
  font-size: 1.25rem;
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .about_detail_body {
    padding: 3.8rem 1rem;
    top: 4rem;
  }

  .about_detail_body:hover {
    transform: none;
  }

  .text_container {
    width: auto;
    justify-content: center;
  }

  .about_questions_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 3.8rem;
  }
  .about_questions_container h1 {
    text-align: center;
  }

  .about_questions_container p {
    width: 34rem !important;
    text-align: center;
  }
  .about_questions_container {
    max-width: 34.2rem !important;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .about_banner {
    height: 31.25rem;
  }

  .about_banner .home_content {
    margin-top: 0;
  }

  .about_choose_container {
    width: 18.75rem;
  }
  .about_choose_desp {
    width: 18.8rem;
  }

  .about_choose_desp p {
    width: auto;
    text-align-last: justify;
  }

  .about_questions_box {
    flex-wrap: wrap;
    height: auto;
  }

  .about_questions_container {
    width: auto !important;
  }

  .about_questions_container h1 {
    width: auto;
    text-align: center;
  }
  .about_questions_container p {
    text-align: center;
    width: auto !important;
  }

  .about_accordion {
    width: 22.75rem;
    height: 20.8rem;
  }

  .about_title {
    width: auto;
  }

  .team_overlay {
    opacity: 90%;
  }

  .about_detail_body:hover {
    transform: none;
  }

  .about_choose_box {
    margin: 3.12rem 0;
  }

  .about_chooseUs_wrapper .penetration_container {
    margin-top: 8rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .about_detail_body {
    padding: 4.5rem 0.3rem !important ;
    width: 16.25rem;
  }

  .text_container {
    width: 94vw;
  }

  .about_questions_container p {
    width: auto;
    line-height: 1.5rem;
  }
  .about_questions_container {
    max-width: 26.2rem;
    width: 100%;
  }

  .about_questions_box {
    width: 93vw !important;
  }
}

@media screen and (max-width: 1440px) {
  .about_choose_box {
    width: auto;
  }

  .about_questions_box {
    width: 82vw;
  }
}
