/* Homebanner CSS */

.home_banner {
  width: 100%;
  height: 50rem;
  background-image: url(../../assets/images/homeBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
}

.backdrop {
  height: 100%;
  width: 100%;
}

.home_container {
  display: flex;
  justify-content: center;
}

.home_content {
  margin-top: 11.625rem;
  display: flex;
  justify-content: center;
  width: 87vw;
}

.front_content {
  max-width: 50rem;
  width: 100%;
}

.bold_heading {
  color: var(--white);
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 4.406rem;
  text-transform: capitalize;
}

.sub_heading_home {
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--lightGrey);
}

.homebanner_btn {
  display: flex;
  align-items: center;
  gap: 2.563rem;
}

.get_started_btn {
  font-weight: 600;
  display: flex;
  width: 8rem;
  height: 3rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  background: var(
    --gradient,
    linear-gradient(89deg, #c9442d 0.55%, #893e97 91.24%)
  );
  border: 1px solid transparent;
}

.get_started_btn:hover {
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #c9442d, #893e97) border-box;
  border-radius: 0.5rem;
}

.work_btn {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home_ideas_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.home_ideas {
  width: 75vw;
  display: flex;
  justify-content: space-around;
}

.idea_body {
  width: 100%;
  max-width: 25.688rem;
  background-color: var(--lightBlack);
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  color: var(--white);
  border-radius: 0.5rem;
  position: relative;
  bottom: 5.938rem;
  transform: translateY(0px);
  transition: 1s;
  border: 1px solid #374151;
}

.idea_body:hover {
  transition: 1s;
  transform: translateY(-3.75rem);
}

.ideas_icon {
  font-size: 2rem;
  color: #893e97;
  background: white;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
}

.ideas_heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.ideas_description {
  font-weight: 400;
  line-height: 1.5rem;
  width: 100%;
  max-width: 18.75rem;
  color: var(--lightGrey);
}

.read_more_btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.read_more_icon {
  font-size: 4px;
  background-color: var(--white);
  border-radius: 50%;
  color: var(--black);
}

.idea_body:hover .read_more_icon {
  font-size: 1rem;
  transition: 1s;
}

/* PenetrationTesting CSS */

.heading {
  transform: translateY(80%);
  transition: transform 1s ease-in-out;
  opacity: 0.1;
}

.heading.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.penetration_container {
  display: flex;
  margin-top: 3.125rem;
  flex-direction: column;
  align-items: center;
}

.penetration_container h1 {
  text-align: center;
  color: var(--white);
  font-size: 3.75rem;
  text-transform: capitalize;
}

.supportive_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supportive_text {
  color: var(--lightGrey);
  width: 60%;
  text-align: center;
  margin-top: -1.25rem;
  font-size: 1.25rem;
}

.penetration_desp_info {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.penetration_desp_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.penetration_img {
  width: 40vw;
  display: flex;
  justify-content: center;
}

.penetration_icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: #893e97;
  background: white;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
}

.penetration_desp_content {
  width: 56%;
}

.penetration_desp_content h2 {
  font-size: 1.25rem;
  color: var(--white);
  margin: 0;
}

.penetration_desp_content p {
  color: var(--grey);
  font-size: 1rem;
  line-height: 1.5rem;
  width: 46.563rem;
}

.penetration_desp_box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.5rem;
  gap: 0.625rem;
}

/*  penetration Benefit CSS */

.benefits_box {
  width: 100%;
  height: 105.313rem;
  background-image: url("../../assets/images/Image5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
}

.benefit_detail {
  display: flex;
  justify-content: flex-end;
  display: none;
}

/* why Penetration CSS  */

.why_penetration_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why_penetration_box {
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
  justify-content: center;
}

.why_penetration_content {
  max-width: 25rem;
  min-width: 12.5rem;
  height: 8.563rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #c9442d, #893e97) border-box;
  border: 1px solid transparent;
  border-radius: 1.75rem;
  margin: 1.563rem;
  gap: 0.625rem;
}

.why_penetration_content_h1 {
  color: var(--white);
  width: 23.375rem;
  font-size: 3.75rem;
  line-height: 3.75rem;
  white-space: wrap;
  text-align: center;
  margin: 0;
  position: relative;
  bottom: 3.75rem;
  text-transform: capitalize;
}

.card_container {
  animation: cardContainer 1s ease-in;
}

@keyframes cardContainer {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0);
  }
}

.card_cover {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.card_cover2 {
  width: 95vw;
  display: flex;
  justify-content: center;
}

.scene {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.scene2 {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 23.375rem;
  height: 12.5rem;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(0.5turn);
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.why_penetration_content_back {
  max-width: 23.375rem;
  min-width: 12.5rem;
  height: 8.563rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 1.75rem;
  margin: 1.563rem;
  background: linear-gradient(180deg, #c9442d -28.1%, #893e97 118.25%);
}

.why_penetration_content_back p {
  margin: 0 1.25rem;
  text-align: center;
}

.card__face--back {
  transform: rotateY(0.5turn);
}

/* Lates Blog CSS */

.latest_App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 4.375rem;
}

.images-container {
  display: flex;
  max-width: 73vw;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.image {
  width: 21.063rem;
  height: 26.813rem;
  border-radius: 1.75rem;
}

.nav-btn {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  background-color: var(--orange);
  border-radius: 50%;
  height: 4.375rem;
  width: 4.375rem;
  margin: 5px;
  color: var(--white);
  font-size: 1.875rem;
  margin-top: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_btn_left {
  position: absolute;
  left: 12%;
  z-index: 9;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.nav_btn_right {
  position: absolute;
  right: 11%;
  z-index: 9;
}

/* Slide in Overlay from the Top */

.latest_container {
  overflow-y: clip;
  overflow-x: visible;
  position: relative;
  width: 21.063rem;
  height: 26.813rem;
  margin: 2.188rem;
  border-radius: 1.75rem;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  overflow: hidden;
  width: 21.063rem;
  height: 0;
  transition: 1s ease;
  border-radius: 1.75rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.latest_container {
  height: auto;
}

.latest_container:hover .overlay {
  bottom: 0;
  height: 26.813rem;
}

.latest_container:hover .overlay {
  height: 100%;
}

.overlay_bottom {
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.8;
  overflow: hidden;
  width: 21.063rem;
  height: 0;
  transition: 1s ease;
  border-radius: 1.75rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.latest_container:hover .overlay_bottom {
  top: 0;
  height: 26.813rem;
}

.text {
  font-size: 1.25rem;
  width: 18.75rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.avatar_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15.313rem;
  margin-right: 5.313rem;
  margin-top: 1.25rem;
  margin-bottom: 4.063rem;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 0.938rem;
}

.avatar_info h2,
p {
  margin-bottom: 5px;
}

.avatar_info h2 {
  font-size: 1rem;
}

.avatar_info p {
  color: var(--grey);
  font-size: 0.875rem;
}

/* Penetration Benefit CSS */

.benefits {
  background-image: url("../../assets/images/Image5.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 12.5rem 0;
}

.benefit_text {
  position: relative;
  top: 0;
  transition: 3s;
}

.benefits_penetration_desp_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.benefits_penetration_container h1 {
  color: var(--white);
  font-size: 3.75rem;
  width: 72%;
  text-align: left;
  text-transform: capitalize;
}

.benefits_penetration_container h1 {
  color: var(--white);
  font-size: 3.75rem;
  width: 72%;
  text-align: left;
}

.benefit_supportive_text {
  color: var(--lightGrey);
  width: 60%;
  margin-top: -1.25rem;
  width: 24.813rem;
}

.penetration_flex {
  margin-top: 6.25rem;
}

.benefit_penetration_desp_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.75rem;
  margin-bottom: 1.25rem;
  gap: 0.625rem;
  background-color: var(--lightBlack);
  width: 25.438rem;
  height: 17.813rem;
}

.benefit_penetration_desp_content p {
  color: var(--grey);
  font-size: 1rem;
  line-height: 1.5rem;
  width: 347px;
  margin-bottom: 0;
  text-align: justify;
}

.benefit_penetration_desp_content h2 {
  font-size: 1rem;
  color: var(--white);
  width: 15.313rem;
  font-weight: 600;
  margin-bottom: 0;
}

.benefit_desp_icon {
  display: flex;
  align-items: center;
  gap: 1.813rem;
  margin-bottom: 1.25rem;
}

.scroll-trigger {
  margin-bottom: 4.375rem;
  transform: translateY(5rem);
  opacity: 0;
  transition: transform 3s ease, opacity 0.5s ease;
}

.scroll-trigger.animate {
  transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .homebanner_btn {
    flex-direction: column;
    gap: 1.25rem;
  }

  .benefit_detail {
    display: flex;
  }

  .scene,
  .scene2 {
    width: auto;
    flex-wrap: wrap !important;
  }

  .scene :nth-child(1) {
    order: 1;
  }

  .why_penetration_content_h1 {
    font-size: 1.5rem;
    text-wrap: wrap;
    width: 12.5rem;
    line-height: 3.75rem;
    bottom: 1.25rem;
  }

  .latest_container:hover .overlay_bottom {
    height: -webkit-fill-available;
  }

  .card_cover {
    width: auto;
  }

  .card_cover2 {
    width: auto;
  }

  .home_banner {
    height: 37.5rem;
  }

  .home_banner_img {
    display: none;
  }

  .bold_heading {
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 1.75rem !important;
    width: 18.75rem;
  }

  .home_content {
    display: flex;
    justify-content: center;
  }

  .sub_heading_home {
    width: 18.75rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .idea_body:hover {
    transform: translateY(0px);
  }

  .get_started_btn {
    width: 6.25rem;
    height: 2.25rem;
    padding: 0.5rem 0.75rem 0.56rem 0.688;
    font-size: 0.875rem;
  }

  .work_btn {
    width: 8.75rem;
    font-size: 0.875rem;
  }

  .home_ideas {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .read_more_icon {
    font-size: 1.25rem;
    background: none;
    color: var(--white);
  }

  .penetration_container {
    gap: 0.625rem;
    margin-top: 8rem !important;
  }

  .penetration_container h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    width: 13.75rem;
  }

  .supportive_text {
    width: 18.75rem;
    font-size: 0.875rem;
  }

  .penetration_desp_content h2 {
    font-size: 1rem;
    font-weight: 400;
    text-wrap: nowrap;
  }

  .penetration_desp_content p {
    width: 16.25rem !important;
    font-size: 0.875rem;
    margin-left: 0.875rem;
  }

  .images-container {
    max-width: 100vw;
    margin-right: 1.875rem;
    margin-left: 1.2rem;
  }

  .latest_container .image {
    width: 13.313rem;
    height: 17.063rem;
  }

  .overlay,
  .overlay_bottom {
    position: absolute;
    opacity: 0.8;
    width: 18.313rem;
    height: 21.06rem;
    top: 0;
  }

  .overlay .text,
  .overlay_bottom .text {
    font-size: 0.875rem;
    width: 12rem;
    line-height: 1.18rem;
    margin-right: 87px;
    text-wrap: wrap;
  }

  .avatar_container {
    width: 13.25rem;
  }

  .avatar_info h2 {
    font-size: 0.875rem;
  }

  .avatar_info p {
    font-size: 0.75rem;
  }

  .nav_btn_right {
    display: none;
  }

  .nav_btn_left {
    display: none;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_container :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .footer_heading {
    font-size: 1rem;
  }

  .footer_heading,
  .footer_links {
    text-align: center;
    margin-bottom: 0;
  }

  .social_links {
    display: flex;
  }

  .benefits_penetration_desp_container {
    flex-direction: column;
  }

  .benefits_penetration_desp_container .penetration_flex {
    display: flex;
    overflow-x: scroll;
    gap: 1.25rem;
    margin-bottom: 4.375rem;
    width: 22rem;
  }

  .benefit_penetration_desp_box {
    width: 15.438rem;
    height: 14.188rem;
    border-radius: 0.875rem;
    padding: 0 0.95rem 0.938rem 0.938rem;
  }

  .benefit_penetration_desp_content p {
    width: 13.688rem;
    font-size: 0.875rem;
    line-height: normal;
  }
  .benefit_penetration_desp_content h2 {
    width: 11.313rem;
    margin: 0.625rem 0;
  }

  .benefit_desp_icon {
    gap: 0.625rem;
    margin-bottom: 0;
  }

  .penetration_icon {
    padding: 0.25rem;
    font-size: 1.25rem;
    width: auto;
    height: auto;
  }

  .benefits_penetration_container h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .benefit_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    position: sticky;
    margin-top: 6.25rem;
  }

  .penetration_desp_info {
    margin: 3.438rem 0;
  }

  .penetration_img img {
    width: 18.75rem;
  }

  .penetration_flex {
    margin-bottom: 0 !important;
  }

  .latest_App {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .home_container .sub_heading_home {
    text-align: left;
  }

  .home_ideas {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 77vw !important;
  }

  .home_banner_img {
    width: 22rem;
  }

  .idea_body {
    width: 15.25rem !important;
    padding: 0.8rem;
    top: 4rem;
  }

  .idea_body:hover {
    transform: none;
  }

  .read_more_icon {
    font-size: 1.3rem;
  }

  .penetration_container {
    margin-top: 6rem;
  }

  .penetration_desp_container {
    flex-direction: column;
  }

  .penetration_desp_content p {
    width: 21.3rem;
  }

  .scroll-trigger {
    margin-bottom: 1.2rem;
  }

  .scene :nth-child(1) {
    order: 1;
  }
  .why_penetration_content_h1 {
    font-size: 3rem;
    width: auto !important;
  }

  .card_cover2 {
    width: auto;
  }

  .scene {
    flex-wrap: wrap !important;
  }

  .scene2 {
    flex-wrap: nowrap;
  }

  .nav_btn_right {
    right: 8%;
  }

  .nav_btn_left {
    left: 9% !important;
  }

  .benefit_text {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefits_penetration_desp_container {
    flex-direction: column;
    align-items: center;
  }

  .benefits_penetration_container h1 {
    text-align: center;
    width: 85%;
  }

  .supportive_text {
    width: 83%;
  }

  .penetration_desp_content h2 {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  .penetration_p {
    order: 1;
  }

  .penetration_flex {
    margin-bottom: 6.25rem;
  }

  .sub_heading_home {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .bold_heading {
    line-height: 3.5rem;
  }

  .idea_body {
    bottom: 3.75rem;
    width: 16.25rem;
  }

  .footer_container {
    width: auto !important;
  }

  .why_penetration_content_h1 {
    width: 18rem;
    font-size: 3rem;
  }

  .scene {
    flex-wrap: nowrap;
  }

  .benefits_penetration_desp_container {
    width: 90vw !important;
  }

  .read_more_icon {
    font-size: 1rem;
  }

  .nav_btn_right {
    right: 9%;
  }

  .nav_btn_left {
    left: 9%;
  }

  .card {
    width: 20.313rem;
  }

  .home_ideas_container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1440px) {
  .home_ideas {
    width: 88vw;
    gap: 1.5rem;
  }

  .scene,
  .scene2 {
    width: auto;
  }

  .penetration_desp_content p {
    width: 38rem;
  }

  .nav_btn_left {
    left: 11%;
  }
}

@media screen and (max-width: 375px) {
  .benefit_supportive_text {
    width: fit-content;
    text-align: center;
  }

  .navlink {
    width: 15rem !important;
  }

  .benefits_penetration_desp_container .penetration_flex {
    width: 24rem !important;
  }
}
