/* ContactUs Content CSS */
.contact_banner {
  width: 100%;
  height: 50rem;
  background-image: url(../images/img5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_wrapper {
  width: 100vw;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.content_container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_h1 {
  text-align: center;
  font-size: 3.75rem;
  color: var(--white);
  margin-top: 7.25rem;
  margin-bottom: 6.063rem;
}

.contact_content_wrapper {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.contact_content {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-size: 1rem;
  border-radius: 1.75rem;
  background: #1c2330;
  width: 25.813rem;
  height: 7.625rem;
  color: var(--white);
}

.contact_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--purple);
  font-size: 1.625rem;
  height: 1.625rem;
  width: 1.625rem;
  border-radius: 1rem;
  border: 1px solid var(--Primary-color-2, #893e97);
  padding: 1.188rem 1.063rem;
  background: rgba(137, 62, 151, 0.15);
  margin-left: 1.813rem;
}

.contact_icon_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stroke {
  position: fixed;
  bottom: -2.5rem;
  left: 3.438rem;
  background: transparent;
  width: 18.875rem;
  height: 3px;
  border-radius: 4px;
  opacity: 0.4;
}

.contact_heading h4 {
  font-weight: 400;
  margin: 0;
}

.contactUs_content {
  color: var(--textGrey);
}

.contact_content:hover {
  background-color: var(--purple);
  transform: translateY(-3.125rem);
  transition: 3s;
}

.contact_content:hover .contactUs_content {
  color: var(--white);
}

.contact_content:hover .contact_icon {
  background-color: var(--white);
}

.contact_content:hover .stroke {
  background: #893e97;
}

.contact_us_form .person_info_box {
  max-width: 72.8rem;
  width: 100%;
  padding: 5.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin-top: 6.875rem;
  border-radius: 1.75rem;
  box-shadow: 0px 0px 1.563rem 0px rgba(151, 71, 255, 0.12);
}

.contact_us_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_us_form textarea {
  grid-column: span 2;
  border-radius: 1.125rem;
  border: 1px solid var(--darkGrey);
  background: #111927;
  font-size: 1rem;
  color: #fff;
  padding: 1rem;
}

.contact_us_form input {
  border-radius: 1.125rem;
  border: 1px solid var(--darkGrey);
  background: #111927;
  font-size: 1rem;
  color: #fff;
  max-width: 32.75rem;
  height: 2rem;
  padding: 1rem;
}

.contact_us_form input:hover,
.contact_us_form textarea:hover {
  border: 1px solid #893e97;
}

input:focus::-webkit-input-placeholder {
  color: #fff;
}

textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.submit_btn {
  display: flex;
  width: 8rem;
  height: 3rem;
  padding: 0.75rem 2.313rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(137, 62, 151, 0.6);
  border: none;
  color: var(--white);
  margin-top: 1.875rem;
  font-size: 1rem;
}

.submit_btn:hover {
  background: #893e97;
}

@media screen and (max-width: 500px) {
  .contact_content_wrapper {
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .contact_banner {
    height: 37.5rem;
  }

  .contact_banner .home_content {
    margin-top: 0;
  }

  .contact_content {
    width: 18.75rem;
    height: 5.375rem;
    padding: 0.563rem 2rem 0.563rem 1rem;
  }

  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact_content:hover {
    transform: none;
  }

  .stroke {
    display: none;
  }

  .contact_us_form .person_info_box {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact_us_form input {
    height: auto;
    border-radius: 0.5rem;
  }

  .contact_us_form textarea {
    grid-column: span 1;
  }

  .contact_banner .sub_heading_home {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .contact_content_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contact_content:hover {
    transform: none;
  }

  .contact_content:hover .stroke {
    display: none;
  }

  .contact_us_form .person_info_box {
    width: 75% !important;
    gap: 1.5rem;
  }

  .contact_banner .sub_heading_home {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .contact_content_wrapper {
    flex-wrap: wrap;
    gap: 1.4rem;
    width: 84vw !important;
  }
}

@media screen and (max-width: 1440px) {
  .contact_content_wrapper {
    width: 100vw;
  }

  .contact_us_form input {
    border-radius: 0.5rem;
  }
}
