body {
  background-color: #111927;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --black: #111927;
  --white: #ffffff;
  --gradient: linear-gradient(89deg, #c9442d 0.55%, #893e97 91.24%);
  --grey: #9ca3af;
  --lightGrey: #d1d5db;
  --lightBlack: #1e2834;
}
